h2{

text-align:center;

margin-top:30px;

}

input{

display:block;

margin:20px auto;

padding:10px;

width:300px;

}

.course-container{

display:flex;

justify-content:center;

flex-wrap:wrap;

gap:25px;

margin-bottom:40px;

}